.product-details{
    padding-top: 250px;
    color: white;
}

.product-details {
    margin-top: 20px;
  }
  
  .product-image {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .size-selector, .color-selector {
    margin-top: 20px;
  }
  
  .size-selector button, .color-selector button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .size-selector button.selected, .color-selector button.selected {
    background-color: #ff009d;
    color: #fff;
    border-color: #ff009d;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buy-now, .add-to-cart {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff009d;
    color: #fff;
    cursor: pointer;
  }
  
  .add-to-cart {
    background-color: #ff009d;
  }
  
  .buy-now:hover, .add-to-cart:hover {
    background-color: white;
    color: #ff009d;
  }
  
  .add-to-cart:hover {
    background-color: white;
  }
  